  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@400;700&display=swap');


  body {

    font-family: 'Noto Sans Nag Mundari', sans-serif;

  }

  /*--containers--*/
  .container {
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .container-center {

    max-width: 600px;
    margin: auto;

  }