  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@400;700&display=swap');


  :root {
    --primary-color: #25316D;
    --dark-gray: #d3d3d3;
    --off-white: #def2fa;
    --link-font: #F6F1F1;

  }

  body {

    font-family: 'Noto Sans Nag Mundari', sans-serif;

    margin: 0px auto;
    max-width: 85%;

  }



  hr {
    margin: 2rem 0rem;
  }

  /*--containers--*/
  .container {
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .container-center {

    max-width: 80%;
    margin: auto;

  }


  .link {
    text-decoration: none;
    margin: 0.5rem 0.5rem;
    color: var(--link-font);
  }

  .link-primary {
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: var(--link-font);
    text-decoration: none;
    max-width: 140px;
    margin: 1rem auto;
    display: inline-block;

  }

  .link-secondary {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    max-width: 140px;
    margin: 1rem;
    display: inline-block;
  }

  /* lists */

  .list-non-bullet {
    list-style: none;
  }

  .list-inline {
    display: inline;

  }

  /* navigation */

  .navigation {
    background-color: var(--primary-color);
    color: var(--link-font);
    font-size: 1rem;

    padding: 1rem 0rem;
    border-bottom-left-radius: 1rem;
  }

  .nav-brand {
    padding: 0rem 1rem;
    font-weight: bold;
  }

  .navigation .link {
    text-align: right;
    margin: 0.6rem 1rem;
  }

  .navigation .link-active {
    font-weight: bold;
  }

  /* header */

  .hero {
    padding: 2rem;

  }

  .hero .hero-img {
    max-width: 45%;
    display: block;
    margin: auto;

  }

  .hero .hero-heading {
    color: var(--dark-gray);
    text-align: center;
  }

  .hero .hero-highlight-text {
    color: var(--primary-color);
  }

  .hero .hero-discription {
    max-width: 500px;
    text-align: center;
    margin: auto;
  }


  .section {
    padding: 1.5rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 1rem;
  }

  .section h1 {
    text-align: center;
    text-weight: strong;

  }

  .off-white {
    background-color: var(--off-white);
  }


  .text-highlight {
    font-weight: bold;

  }



  .footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 2rem;

  }

  .footer ul {
    padding-inline-start: 0px;
  }

  .footer li {
    display: inline
  }

  .footer-header {
    padding-inline-start: 0px;
    font-size: bold;
  }